#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .nav-link {
  font-size: 23px;
}
#header2-1 H1 {
  color: #ffffff;
}
#header2-1 P {
  color: #ffffff;
  font-size: 22px;
}
#content5-t P {
  text-align: left;
}
#contacts3-b B {
  font-size: 23px;
}
#content1-m P {
  text-align: left;
}
#menu-k .navbar-toggler {
  color: #000;
}
#menu-k .nav-link {
  font-size: 23px;
}
#contacts3-l B {
  font-size: 23px;
}
